body{
  margin-left: 200px;
  background-image: url('./images/bg-image.jpg');
  background-size: cover;
  
}
.MuiTypography-body1{
  font-size: 25px !important;
  font-family: 'Architects Daughter', cursive !important;
  color:green;
}